@import '../node_modules/bootstrap/scss/functions';

$modal-backdrop-opacity: 1;
$modal-content-color: #fff;
$modal-content-bg: transparent;

@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
