@mixin loading-spinner {
  &::after {
    $border-width-spinner: .31rem;
    $diameter: 2.5rem;

    animation: btn-pending-spin 2s linear infinite;
    border: $border-width-spinner solid #ececec;
    border-color: #ececec #22272d;
    border-radius: 50%;
    content: '';
    display: block;
    height: $diameter;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $diameter;

    @keyframes btn-pending-spin {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }

      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}
