$color-facebook: #3b5998;
$color-youtube: #f00;
$color-twitter: #1da1f2;
$color-whatsapp: #25d366;
$color-email: #ed3833;

$social-channels: (
  'twitter': $color-twitter,
  'email': $color-email,
  'facebook': $color-facebook,
  'whatsapp': $color-whatsapp,
  'youtube' : $color-youtube
);

