.wp-block-ae-petition-modal-simple,
.wp-block-ae-petition-modal-multi-step {
  margin-top: 10px;

  * {
    color: #000;
  }

  .block-editor-inner-blocks {
    width: 100%;
  }
}

.wp-block-ae-petition-modal-multi-step-generic,
.wp-block-ae-petition-modal-multi-step-donate,
.wp-block-ae-petition-modal-multi-step-share {
  margin-top: 10px;
}
