// TODO encapsulate modal styling in petition block (problem is the backdrop which is not inside the block
@import '../../scss/bootstrap';
@import '../../scss/mixins';
@import '../../node_modules/bootstrap/scss/modal';

.wp-block-ae-petition-petition {
  .modal {
    .btn-close {
      border: 0;
      border-radius: 100%;
      height: 55px;
      padding: 0;
      position: absolute;
      right: 2rem;
      top: 2rem;
      z-index: 10;

      &,
      &:hover {
        background-color: var(--ae-block-petition-color-text-body-dark);
      }

      svg {
        height: 55px;
        width: 55px;
      }
    }
  }

  .btn--pending {
    pointer-events: none;
    position: relative;

    &::before {
      background-color: #fff;
      content: '';
      height: 100%;
      left: 0;
      opacity: .3;
      position: absolute;
      top: 0;
      width: 100%;
    }

    @include loading-spinner;
  }

  .wp-block-animalequality-share {
    a {
      color: var(--ae-block-petition-color-text-body-light);
    }
  }

  .ngp-form {
    margin-top: 1rem;
    max-width: none;
  }
}

.modal-backdrop {
  background: radial-gradient(circle, rgb(70, 70, 70) 0%, rgba(0, 0, 0, .9) 80%);
}
