@import '../../scss/mixins';

.wp-block-ae-petition-form {
  position: relative;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    width: 100%;

    label {
      span {
        font-weight: bold;
      }
    }

    &--checkbox {
      flex-direction: row;

      input {
        flex-shrink: 0;
        margin-top: -2px !important;
      }
    }
  }

  .form-row {
    display: flex;
    gap: 1rem;
    margin-top: .8rem;
  }

  .loading-overlay {
    background-color: #fff;
    bottom: 0;
    left: 0;
    opacity: .8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

    @include loading-spinner;
  }
}

.has-white-color {
  .wp-block-ae-petition-form {
    label {
      color: var(--ae-block-petition-color-text-body-light);
    }
  }
}
