@import '../../../scss/bootstrap';
@import '../../../node_modules/bootstrap/scss/carousel';

.wp-block-ae-petition-modal-multi-step {
  .carousel-item {
    > .wp-block-columns {
      > .wp-block-column {
        > .wp-block-image {
          margin: 0;
        }
      }
    }

    .modal-multi-step-navigation {
      border-top: solid 1px var(--ae-block-petition-color-text-body-light);
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      .modal-multi-step-navigation__button {
        border-radius: 50%;
        cursor: pointer;
        height: 3rem;
        margin-top: 1rem;
        width: 3rem;

        &--next {
          transform: rotate(180deg);
        }

        svg {
          cursor: pointer;
        }
      }
    }

    .wp-block-ae-share {
      svg {
        margin-bottom: 0;
        width: 100%;

        .fill-bg-color {
          fill: rgba(0, 0, 0, 0.9);
        }
      }
    }

    @media (max-width: 781px) {
      > .wp-block-columns {
        gap: 1rem;
      }
    }

    @media (min-width: 782px) {
      > .wp-block-columns {
        > .wp-block-column {
          > .wp-block-group {
            border: solid #fff 2px;
            border-radius: 5px;
            padding: 1.5rem;
            position: relative;
          }
        }
      }
    }
  }
}
